<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>

  </head>
  <body>
    <form action = '/login' method = 'post'>
      <label>username</label>
      <input type = 'text'></input>
      <label>passsword</label>
      <input type = 'text'></input>
      <button>Login</button>
    </form>
  </body>
</html>
