<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>

  </head>
  <body>
    <form action='/login' method='post'>
      <input type='text' name='username' placeholder='username...'></input>
      <input type='text' name='password' placeholder='password...'></input>
      <button type='submit' value='login'>Login</button>
    </form>
  </body>
</html>
